<div class="container">
    <h2>What it is</h2>
    <span class="line extra-space">PIE connect is a digital platform for comparative Indo-European linguists.</span>
    <span class="line"><br>It aims to connect traditional and current theories, and to connect specialists from all over the world.</span>
    <span class="line">It offers a forum to specialists and laymen alike, to discuss phonetic and semantic reconstructions.</span>
    <span class="line"><br>First of all, the name of the website, PIE connect, refers both to the etymological connections and to the community of researchers.
        <br>The focus on community is to connect researchers more closely in debates and to attract new researchers to the field, in line with the Digital Humanities (DH) ethics. Secondly, the project is structured in order to highlight cognate connections and approach specific terms within a broader context. This will be done along the following principles:</span>
    <span class="line">(1) users can input any word from any IE language, getting as output the cognate  IE words and the reconstructed proto-form.</span>
    <span class="line">(2) visualising the connected cognates. The global goal of the website is to provide a visualization of the geographical connections of the IE cognates, and to relate these to historical phenomena.</span>
    <span class="line">(3) interactive component: errors and gaps can be reported, academic references can be linked, and there is a forum for discussions.</span>
    <span class="line"><br>This is an ambitious project, of a bigger scope than is achievable in one Master's programme. The current operational phase is a prototype of the digital dictionary I envision.</span>

    <h2>How it came to be</h2>
    <span class="line extra-space">Go to "doc" page for a more elaborate framing of this project.</span>
    <span class="line"><br>Conducting research in the field of comparative Indo-European linguistics is a time-consuming business. Both offline and online, there is more and more specialisation and hardly centralization.
        <br>Specifically online, information is scattered, often un-academic, and ideologically or politically coloured.</span>
    <span class="line"><br>A striking illustration of this situation are the dictionaries of IE and PIE. All major etymological dictionaries are still paper-bound in their publication and as such hard to keep updated. They are massive books, and these physical constraints also hinder combining the extensive with the detailed.
        <br>When in need to compare a number of terms in a number of languages, the reality is that one needs multiple specific books which are often very expensive and difficult to access.
        <br>But this is an essential part of IE research, and it is here that a tangible need to revitalize the research is felt.
        <br>That is why the long-term goal of PIE connect is to offer a platform where a collaborative community can compile and access a database of etyma, reconstructions, theories, scholarly references, and links to more specialized digital initiatives.</span>
</div>

