<b> PIE connect is a digital platform for comparative Indo-European linguists. <br><br>
    It aims to connect traditional and current theories, and to connect specialists from all over the world.
    It offers a forum to specialists and laymen alike, to discuss phonetic and semantic reconstructions. <br>
    <br>First of all, the name of the website, PIE connect, refers both to the etymological connections as to the community of researchers. <br> The focus on community is in order to connect researchers more closely in debates and to attract new researchers to the field, truly in line with the Digital Humanities' (DH) ethics. <br> Secondly, the project is structured in order to highlight connections and to approach specific terms within a broader context. This will be done along the following principles: <br>
    (1) users can input any word from any IE language, getting as output the cognate  IE words and the reconstructed proto-form.<br>
    (2) visualize the connected cognates. The global goal of the website is to provide a visualization of the geographical connections of the IE cognates, and to relate these to historical phenomena.<br>
    (3) interactive component: errors and gaps can be reported, academic references can be linked, and there is a discussion forum <br>
    <br>This is an ambitious project, of a bigger scope than is achievable in a Master's programme. The current operational phase is a prototype of the digital dictionary I envision.

</b>
