<div *ngIf="post == null" class="root-posts" [ngBusy]="busyPromise">
    <div class="type" *ngFor="let pa of postsArray">
        <div class="type-name">{{pa.type}}</div>
        <div class="instances">
            <div class="instance" *ngFor="let entry of pa.instances">
                <div class="instance-name">{{entry.name}}</div>
                <div class="post-entry" *ngFor="let post of entry.posts">
                    <div class="body title" (click)="openPost(post)">{{post.TITLE}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="post">
    <div class="post-entries">
        <button mat-raised-button color="primary" (click)="post = null">Back to all posts</button>
        <div class="post-entry" *ngFor="let post of thread">
            <div class="indent" *ngFor="let i of arrayOf(post.level - 1)">&nbsp;</div>
            <div class="body" [ngStyle]="{width: (1200 - post.level * 32) + 'px'}">
                <div class="title">{{post.TITLE}}</div>
                <div class="postbody">{{post.POST}}</div>
                <div class="footer">
                    <div class="user">by {{post.USER}}</div>
                    <div class="timestamp">on {{post.timestamp | date: 'MMM d, y, H:mm:ss'}}</div>
                    <div class="reply" (click)="reply(post)"><i class="material-icons">reply</i></div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="post = null" *ngIf="thread.length > 5">Back to all posts</button>
    </div>
</div>
