<div>FORUM</div>

<div *ngIf="post == null" [ngBusy]="busyPromise">
    <div *ngIf="posts?.prototerms.length">
        <h2>Prototerms</h2>
        <div *ngFor="let entry of posts.prototerms">
            <h3>{{entry.prototerm.FORM}}</h3>
            <div class="post-entry" *ngFor="let post of entry.posts">
                <div class="indent" *ngFor="let i of arrayOf(post.level)">&nbsp;</div>
                <div class="title" (click)="openPost(post)">{{post.TITLE}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="posts?.terms.length">
        <h2>Terms</h2>
        <div *ngFor="let entry of posts.terms">
            <h3>{{entry.term.FORM}}</h3>
            <div class="post-entry" *ngFor="let post of entry.posts">
                <div class="indent" *ngFor="let i of arrayOf(post.level)">&nbsp;</div>
                <div class="title" (click)="openPost(post)">{{post.TITLE}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="posts?.langs.length">
        <h2>Langs</h2>
        <div *ngFor="let entry of posts.langs">
            <h3>{{entry.lang.FORM}}</h3>
            <div class="post-entry" *ngFor="let post of entry.posts">
                <div class="indent" *ngFor="let i of arrayOf(post.level)">&nbsp;</div>
                <div class="title" (click)="openPost(post)">{{post.TITLE}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="posts?.laws.length">
        <h2>Laws</h2>
        <div *ngFor="let entry of posts.laws">
            <h3>{{entry.law.FORM}}</h3>
            <div class="post-entry" *ngFor="let post of entry.posts">
                <div class="indent" *ngFor="let i of arrayOf(post.level)">&nbsp;</div>
                <div class="title" (click)="openPost(post)">{{post.TITLE}}</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="post">
    <div class="post-entries">
        <button mat-raised-button color="primary" (click)="post = null">Back to all posts</button>
        <div class="post-entry" *ngFor="let post of thread">
            <div class="indent" *ngFor="let i of arrayOf(post.level - 1)">&nbsp;</div>
            <div class="body" [ngStyle]="{width: (1200 - post.level * 32) + 'px'}">
                <div class="title">{{post.TITLE}}</div>
                <div class="postbody">{{post.POST}}</div>
                <div class="footer">
                    <div class="user">by {{post.USER}}</div>
                    <div class="timestamp">on {{post.timestamp | date: 'MMM d, y, H:mm:ss'}}</div>
                    <div class="reply" (click)="reply(post)"><i class="material-icons">reply</i></div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="post = null">Back to all posts</button>
    </div>
</div>
