<div class="container">
<span>Here you can find urls to interesting online repositories on comparative historical linguistics (not restricted to IE).</span>

<h2>CLLD</h2>
<a href="http://clld.org/datasets.html">visit clld.org</a><br>
<span>Cross-linguistic linked data, comprising multiple specialized databases. <br> Project of Forkel, R. & Haspelmath, M.</span>

<h2>Glottolog</h2>
<a href="http://glottolog.org">visit glottolog.org</a><br>
    <span><b>Master bibliography</b> of paper and digital sources & language data.
    <br>Part of the CLLD project by Hammarstrom, H. & Forkel, R. & Haspelmath, M.</span>

<h2>EIEOL Lessons & Lexicon</h2>
<a href="https://lrc.la.utexas.edu/lex">visit utexas.edu</a><br>
<span>Digitized version of the Pokorny Dictionary of 1959 (Indogermanisches etymologisches Worterbuch), the Pokorny Master Collection.
<br>Also Early Indo-European Online lessons, from the University of Texas at Austin Linguistics Research Center.
<br>Project of Slocum, J.and Lehman, W. P.</span>

<!--
<h2>The Tower of Babel</h2>
<a href="http://starling.rinet.ru/index2.php?lan=en">link</a>
<span>
StarLing database server: access to digitized dictionaries on multiple language families (in the context of a Borean macrofamily), for IE chiefly the Pokorny Dictionary of 1959 (Indogermanisches etymologisches Wörterbuch). <br> Also access to published articles by S. & G. Starostin.
</span>
-->

</div>