ul {
  text-align: center;
}

.term-table {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#info-filter {
  font-size: 9pt;
  color: dimgray;
}

.table-filter {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 800px;
}

.page {
  /*display: flex;*/
  /*flex-direction: row;*/
}

.left-container {
  /*flex-grow: 1;*/
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow: hidden;
  position: fixed;
  left: 0;
  width: 300px;
}
.right-container {
  /*height: 100%;*/
  /*flex-grow: 5;*/
  height: 100%;
  position: fixed;
  right: 0;
  width: calc(100% - 300px);

}

#prototerm {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  height: 80px;
  z-index: 1000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: #FCFAF3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

#result-pie {
  background: #005264;
  color: #FCFAF3;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

#pterm-form {
  text-align: center;
  font-size: 20pt;

}
#prototerm .icon-buttons {
  text-align: right;
  padding: 5pt;
}

#prototerm .icon-buttons .edit, #prototerm .icon-buttons .comment, #prototerm .icon-buttons .clear{
  font-size: 14pt !important;
}

#prototerm .icon-buttons .clear {
  color: red;
}

.detail-container {

}

.table-container {

}

.record-container {
  overflow: hidden;
  font-size: 7pt;
}

.map-container {
  min-width: 100px;
  width: 100%;
  height: 100%;
  position:relative;
}

.map {
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
}

.mat-column-TERM_ID {
  max-width: 40px;
}

html, body, #map {
  height: 100%;
  /*width: 100vw;*/
}
