<!--The content below is only a placeholder and can be replaced.-->
<div class="page" [ngBusy]="busyPromise">
    <div class="left-container">
        <div class="table-container">
            <div class="table-filter">
                <span id="info-filter">
                    Start typing any word of any Indo-European language, and select your search in the filter.<br>(Cognates of the selection with changed semantics are shown in another colour.)
                </span>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>

            <div class="term-table mat-elevation-z8">

                <mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="TERM_ID">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.TERM_ID}}</mat-cell>
                    </ng-container>

                    <!-- Info Column -->
                    <ng-container matColumnDef="FORM">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Form</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.FORM}}</mat-cell>
                    </ng-container>

                    <!-- Semantics Column -->
                    <ng-container matColumnDef="SEMANT">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Semantics</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.SEMANT}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row, map)"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div id="prototerm" *ngIf="selected">
            <span id="result-pie">Result pie</span>
            <span id="pterm-form">{{selected.protoTerm.FORM}}</span>
            <span id="pterm-semant">{{selected.protoTerm.SEMANT}}</span>
            <span class="icon-buttons">
                <i class="material-icons comment" (click)="commentPterm()">insert_comment</i>
                <i class="material-icons edit" (click)="editPterm()">edit</i>
            </span>
        </div>
        <div #mapp class="map" leaflet [leafletOptions]="leafletOptions" [leafletLayers]="markers" (leafletMapReady)="map = mapReadyBind($event)" *ngIf="leafletOptions"></div>
    </div>

