ul {
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.container {
  display: flex;
  flex-direction: row;
}
.detail-container {

}

.table-container {
  flex-grow: 1;
  padding: 5px;

}

.map-container {
  flex-grow: 3;
  padding: 5px;
}

.map {
  width: 100%;
  height: 600px;
}

nav {
  margin-left: 10px;
}

nav a {
  width: 70px;
  display: inline-block;
  background-color: #820303;
  padding: 10px 20px 10px 20px;
  color: white;
  text-align: center;
  text-decoration: unset;
  border-radius: 5px;
}

nav a:hover {
  background-color: #cc0000;
}

nav a.active {
  background-color: #cc0000;
  color: yellow;
  font-weight: bold;
}

.router-outlet {
  margin: 0 20px 20px 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .title {
  margin-left: 100px;
  font-family: 'Yatra One', sans-serif;
  font-size: 36pt;
  padding-top: 10px;
}

.header .title .logo {
}
