ul {
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.container {
  display: flex;
  flex-direction: row;
}
.detail-container {

}

.table-container {
  flex-grow: 1;
  padding: 5px;

}

.map-container {
  flex-grow: 3;
  padding: 5px;
}

.map {
  width: 100%;
  height: 600px;
}

nav a {
  width: 120px;
  display: inline-block;
  background-color: #005264;
  padding: 10px 20px 10px 20px;
  color: white;
  text-align: center;
  text-decoration: unset;
  border-radius: 5px;
}

nav a:hover {
  background-color: #644AB4;
}

nav a.active {
  background-color: #644AB4;
  color: white;
  font-weight: bold;
}

.router-outlet {
  margin: 20px;
}
